header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;

}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -3rem;
    bottom: 3rem;
    font-size: 2rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    
    width: 18rem;
    height: 18rem;
    position: absolute;
    left: calc(50% - 9rem);
    margin-top: 4rem;
    
    
}

.meImg {
    border-radius: 7rem 7rem 3rem 3rem ;
}

.scroll__down {
    position: absolute;
    right: -7.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 1.5rem;
}

.opensea {
    height: 2.3rem;
    flood-color:"#00ff00";
    filter: invert(57%) sepia(106%) saturate(730%) hue-rotate(178deg) brightness(100%) contrast(180%);;
    
    
}
.opensea:hover {
    filter: invert(0%) sepia(0%) saturate(1%) hue-rotate(289deg) brightness(106%) contrast(101%);
    transition: all 600ms linear;
}


/*for medium devices like tablets*/

@media screen and (max-width:1024px) {
    header {
        height: 100vh;
    }
  }
   
  
  /*for small devices like phones*/
  
  @media screen and (max-width:600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down{
        display: none;
    }
  }
  